:root {
    --seat-color: #444451;
    --seat-selected-color: #6feaf6;
    --seat-occupied-color: #ffffff;
}

body {
    margin: 0;
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

select {
    height: 27px;
    width: 200px;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 10px;
    outline: none;
}

#mark {
    list-style-type: none;
    background-color: #201f2e;
    color: #777;
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    border-radius: 5px;
}

#mark li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

#mark small {
    margin-left: 5px;
}

#main {
    perspective: 1000px;
}

#screen {
    background-color: white;
    height: 70px;
    width: 100%;
    margin-bottom: 15px;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.seatRow {
    display: flex;
    margin-top: 5px;
}

.seat {
    width: 16px;
    height: 12px;
    margin: 3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--seat-color);
}

.seat:nth-child(4n + 2) {
    margin-right: 15px;
}

.naSeat {
    background-color: var(--seat-color);
}

.selected {
    background-color: var(--seat-selected-color);
}

.occupied {
    background-color: var(--seat-occupied-color);
}

#main .seat:not(.occupied):hover {
    transform: scale(1.2);
    cursor: pointer;
}

#text{
    margin-top: 30px;
    font-size: 14px;
}

#text span{
    color: #6feaf6;
    font-weight: Bold;
}
