/*dddd*/

body {
    margin: 0px;
    font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    font-size: 40px;
}

#header {
    display: grid;
    grid-template-columns: 80px auto 1fr auto 80px;
    border-bottom: 2px solid #e3e3e3;
    height: 54px;
    align-items: center;
}

#header-left {
    grid-column: 2;
    display: flex;
}

#header-right {
    grid-column: 4;
    display: flex;
}

/*logo*/
#logo {
    display: inline-grid;
    grid: repeat(2, 11px) / repeat(2, 11px);
    row-gap: 1px;
    column-gap: 1px;
}

#left-top {
    background-color: #f35325;
    grid-row: 1;
    grid-column: 1;
}

#right-top {
    background-color: #81bc06;
    grid-row: 1;
    grid-column: 2;
}

#left-bottom {
    background-color: #05a6f0;
    grid-row: 2;
    grid-column: 1;
}

#right-bottom {
    background-color: #ffba08;
    grid-row: 2;
    grid-column: 2;
}

#logoText {
    display: inline;
    margin: 0;
    margin-left: 5px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
}

#separator {
    display: inline-block;
    height: 24px;
    width: 2px;
    background-color: #5e5e5e;
    margin-left: 20px;
}

#header-left ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

#mainA {
    font-weight: bold;
    font-size: 16px;
}

#header-left a:link,
a:visited {
    color: #171717;
    text-decoration: none;
}

#header-left li {
    display: inline;
    margin-left: 20px;
}

#header-left a:hover,
a:active {
    text-decoration: underline;
}

#loginBtn {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-left: 10px;
    background-color: transparent;
    color: #0065b3;
    border: none;
    cursor: pointer;
}

#loginBtn:hover {
    color: #00518f;
}

#loginBtn:active {
    background-color: #f2f2f2;
}

#loginBtn:focus {
    outline: none;
}

#searchBorder {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    border: 1px solid lightgray;
    padding: 0px 2px 0px 10px;
    border-radius: 3px;
}

#searchImg {
    grid-column: 1;
}

#search {
    grid-column: 2;
    align-self: stretch;
    border: none;
}

#searchBorder:hover {
    border-color: #0065b3;
}

#search:focus {
    outline: none;
}

#section {
    margin: 0 80px;
}

#nav {
    display: grid;
    grid: repeat(3, 80px) / repeat(6, 1fr);
    gap: 1px 1px;
    margin-top: 40px;
    font-size: 22px;
}

#nav > div {
    cursor: pointer;
    background-color: #0078d7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav img + p {
    margin-left: 5px;
}